[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
joblib = "*"
geopandas = "*"
pydantic = "*"
streamlit = "~=1.37.1"
streamlit-folium = "*"
folium-glify-layer = "*"
lonboard = "*"

[dev-packages]
googlemaps = "*"
jupyterlab = "~=4.2"
httpx = "~=0.27"
pandas = "~=2.2"
beautifulsoup4 = "~=4.12"
matplotlib = "*"
seaborn = "~=0.13.2"
scipy = "~=1.14.0"
numpy = "~=2.0.1"
folium = "~=0.17.0"
scikit-learn = "~=1.5.1"
xgboost = "*"
joblib = "*"
cupy-cuda12x = "*"
shapely = "*"
branca = "*"

[requires]
python_version = "3.12"
